body {
    background-color: #adadad;
}

.table-responsive {
    margin-top: 20px;
}

#patrimonio-table td {
    vertical-align: middle;
}

.qrcode {
    width: 100px;
    height: 100px;
}


.updated-true {
    background-color: #85ca95; /* Verde claro */
}

.updated-false {
    background-color: #ad757a; /* Vermelho claro */
}

