/* Geral */
body {
    background-color: #c5c4c4b4;
    color: #333;
    font-family: Arial, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

h1, h2 {
    color: #004d40;
}

/* Botões */


/* Tabela */
.table-responsive {
    margin-top: 20px;
}

.table {
    border-collapse: collapse;
    width: 100%;
    background-color: #ffffff;
}

.table th, .table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table thead th {
    background-color: #004d40;
    color: #ffffff;
}

.table tbody tr {
    transition: background-color 0.3s ease;
}

.table tbody tr.updated-true {
    background-color: #a2c4a9; /* Cor para atualizado = Sim */
}

.table tbody tr.updated-false {
    background-color: #b88c90; /* Cor para atualizado = Não */
}

/* QR Code */
.qrcode {
    margin: 0 auto;
    width: 120px;
    height: 120px;
}

/* Modal */
.modal-content {
    border-radius: 8px;
}

.modal-header {
    background-color: #004d40;
    color: #ffffff;
}

.modal-footer {
    border-top: 1px solid #ddd;
}

.modal-footer .btn {
    margin: 0 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .table th, .table td {
        font-size: 14px;
        padding: 8px;
    }

    .qrcode {
        width: 60px;
        height: 60px;
    }
}
